body {
  font-family: "Roboto", "Raleway", sans-serif;
  background-color: #E5E5E5);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* -------------header------------- */

.header {
  background-color: #ffffff;
  width: 1600px;
  height: 80px;
  display: inline-flex;
  padding-left: 215px;
  padding-top: 24px;
}

.header-logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.header-logo-web {
  color: #2196f3;
}

.header-logo-studio {
  color: #000;
}

.header-navigation {
  margin-left: 93px;
}

.header-navigation-item {
  display: inline;
  padding: 20px 0;
  width: 500px;
  text-align: center;
}

.header-navigation-link {
  color: #212121;
}

.header-navigation-link:hover,
.header-navigation-link:focus {
  color: #2196f3;
}

.header-mail-link {
  color: #757575;
  width: 135px;
  height: 16px;
  margin-left: 331px;
  padding-top: 32px;
}

.header-phone-link {
  color: #757575;
  width: 135px;
  height: 16px;
  margin-left: 50px;
}

.header-mail-link:hover,
.header-mail-link:focus {
  color: #2196f3;
}

.header-phone-link:hover,
.header-phone-link:focus {
  color: #2196f3;
}

/* --------------main-box------------- */

.main-box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/* --------------section title page------------- */
.section-title-page {
  background-color: #2f303a;
  width: 1600px;
  height: 600px;
}

.title-page-button {
  width: 200px;
  height: 50px;
  margin-left: 700px;
  margin-top: 350px;
  background-color: #2196f3;
  color: #fff;
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;

  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}
h1 {
  color: #fff;
  position: absolute;
  width: 700px;
  height: 120px;
  margin-left: 450px;
  margin-top: 200px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
}

/* --------------section advatages------------- */

.advantages-list {
  width: 1170px;
  height: 101px;
  margin-left: 215px;
  margin-top: 94px;
  display: inline-flex;
}

.advantages-item {
  width: 270px;
  height: 101px;
  padding: 10px;
}

.advantages-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #212121;
  text-transform: uppercase;
}

.advatages-text {
  display: inline-flex;
  width: 270px;
  font-size: 14px;
  line-height: 1.71x;
  letter-spacing: 0.03em;
  color: #757575;
}

/* --------------section we doing------------- */

.section-we-doing {
  padding-left: 200px;
  width: 1370px;
  height: 386px;
}
.we-doing-title {
  color: #212121;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  padding-left: 412px;
  padding-top: 94px;
  padding-bottom: 50px;
}

.we-doing-list {
  display: block;
  float: left;
  padding-left: 15px;
}

/* --------------section commande------------- */

.section-command {
  margin-top: 94px;
  background-color: #e5e5e5;
  width: 1600px;
  height: 648px;
  padding-left: 200px;
}

.commande-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.commande-list {
  display: inline-flex;
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.profession {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

/* --------------footer------------- */

.footer {
  background-color: #2f303a;
  width: 1600px;
  height: 252px;
  padding-top: 60px;
  padding-left: 215px;
}

.footer-logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.footer-logo-web {
  color: #2196f3;
}

.footer-logo-studio {
  color: #ffffff;
}

.footer-address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-addres-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-mail-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-phone-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/* --------------portfolio------------- */

.portfolio {
  width: 1170px;
  height: 1360px;
  margin: 94px 215px 94px 215px;
}

.portfolio-button-list {
  display: inline-flex;
  margin-left: 280px;
}

.portfolio-button {
  background-color: #F5F4FA;
  border-radius: 4px;
  padding: 6px 22px 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin: 8px;
}

.portfolio-button:focus,
.portfolio-button:hover {
  background-color: #2196f3;
  color: #ffffff;
}

.portfolio-galllery-list {
}

.gallery-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 2.00;
  letter-spacing: 0.06em;
  color: #212121;
}

.gallary-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}