:root {
  --main-background-color: #ffffff;
  --second-background-color: #2f303a;
  --header-first-logo-color: #2196f3;
  --header-second-logo-color: #000000;
  --main-title-color: #ffffff;
  --second-title-color: #212121;
  --main-text-color: #757575;
  --accent-color: #2196f3;
  --navigation-link-color: #212121;
  --contact-link-color: #757575;
  --footer-first-logo-color: #2196f3;
  --footer-second-logo-color: #ffffff;
  --button-background-color: #f5f4fa;
  --button-text-color: #212121;
  --accent-button-background-color: #2196f3;
  --accent-button-text-color: #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--main-background-color);
  color: var(--main-text-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* -------------header------------- */

.header-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.header-logo-web {
  color: var(--header-first-logo-color);
}

.header-logo-studio {
  color: var(--header-second-logo-color);
}

.header-navigation-link {
  color: var(--navigation-link-color);
}

.header-navigation-link:hover,
.header-navigation-link:focus {
  color: var(--accent-color);
}

.header-navigation-list .link.current {
  color: var(--accent-color);
}

.header-mail-link {
  color: var(--contact-link-color);
}

.header-phone-link {
  color: var(--contact-link-color);
}

.header-mail-link:hover,
.header-mail-link:focus {
  color: var(--accent-color);
}

.header-phone-link:hover,
.header-phone-link:focus {
  color: var(--accent-color);
}

/* --------------section title page------------- */
.section-title-page {
  background-color: var(--second-background-color);
}

.title-page-button {
  background-color: #2196f3;
  color: var(--main-title-color);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
}
.main-title {
  color: var(--main-title-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}

/* --------------section advatages------------- */

.advantages-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14x;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
  text-transform: uppercase;
}

.advatages-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

/* --------------section we doing------------- */

.we-doing-title {
  color: var(--second-title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

/* --------------section commande------------- */

.commande-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}

.profession {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

/* --------------footer------------- */

.footer {
  background-color: var(--second-background-color);
}

.footer-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.footer-logo-web {
  color: var(--footer-first-logo-color) 3;
}

.footer-logo-studio {
  color: var(--footer-second-logo-color);
}

.footer-address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-addres-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-mail-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-phone-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/* --------------portfolio------------- */

.portfolio-button {
  background-color: var(--button-background-color);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--button-text-color);
}

.portfolio-button:focus,
.portfolio-button:hover {
  background-color: var(--accent-button-background-color);
  color: var(--accent-button-text-color);
  cursor: pointer;
}

.gallery-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-title-color);
}

.gallery-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
